# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Crazyflie 
build_info.json

^bin/dep/all
bin/*
.cproject
.project
.pydevproject
.settings/*
*~
tools/make/config.mk
cflie.*
version.c
tags

/cf2.*
/tag.*
*.gch

current_platform.mk

/generated-test/**
**/__pycache__/**

/docs/.jekyll-metadata
docs/.jekyll-cache

# Crazyflie
cache

# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/*
!.vscode/c_cpp_properties.json

# OSX specific
.metadata/*
.DS_Store
*/.DS_Store
